@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111821;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

/* Custom Scrollbar for dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111821;
}
::-webkit-scrollbar-thumb {
  background: #323b47;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
